{% extends 'work_for_hire/seller/base.html' %}
    {% load static %}
{% block navbar %}
<style>
.form-control-file::-webkit-file-upload-button{
            visibility: hidden;
}
.form-control-file{
    width: 14rem;
    text-align: center;
    display: inline-block;
    border: 1px solid #000;
    border-radius: 40px;
    padding: 5px 5px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 1em;
}

a{
    cursor: pointer;
    text-decoration: none !important;
    color: black !important;
    font-weight: 700 !important;
    font-size: 1em !important;
}

</style>
    <br><br>
    <div class="container" style="background: white; padding: 40px; border-radius: 10px">
        <div class="container text-center mx-auto justify-content-center" style="width: 20rem">
            {% if people_id %}
                {% for us in people_id %}
                    <a onclick="fetchmymsg('{{ us.inbox_id }}');" style="font-size: 1em" class="people_id">{{ us.user_id }}</a><br><hr>
                    <script>
                    function fetchmymsg(inb){
                        $('.message-container').empty();
                            $.ajax({
                                url: "{% url 'message_view' %}",
                                type: "POST",
                                enctype: "multipart/form-data",
                                data:{
                                    inb: inb,
                                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                                },
                                success: function (data) {
                                    console.log(data);
                                    let d = JSON.parse(data);
                                    let i = 0;
                                    while(i < d.length){
                                        if(d[i]["fields"]["attachments"] !== 'False') {
                                            $('.message-container').append("<div class='contact_id'>{{ us.user_id }}</div><br><div class='msg_text'>" + d[i]['fields']['text'] + "</div>"
                                                + "<img class='msg_attach' src=" + '/media/' + d[i]["fields"]["attachments"] + " alt=''>");
                                        }
                                        else{
                                            $('.message-container').append("<div class='contact_id'>{{ us.user_id }}</div><br><div class='msg_text'>" + d[i]['fields']['text'] + "</div>");
                                        }
                                        i = i+1
                                    }
                                }
                            });
                    }
                    </script>
                {% endfor %}
            {% elif user_id %}
                {% for us in user_id %}
                    <a onclick="fetchmymsg('{{ us.inbox_id }}');" style="font-size: 1em" class="people_id">{{ us.people_id }}</a><br><hr>
                    <script>
                    function fetchmymsg(inb){
                        $('.message-container').empty();
                            $.ajax({
                                url: "{% url 'message_view' %}",
                                type: "POST",
                                enctype: "multipart/form-data",
                                data:{
                                    inb: inb,
                                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                                  {#csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()#}
                                },
                                success: function (data) {
                                    console.log(data);
                                    let d = JSON.parse(data);
                                    let i = 0;
                                    while(i < d.length){
                                        if((d[i]["fields"]["attachments"] !== 'False') && (d[i]["fields"]["attachments"] !== '')) {
                                            $('.message-container').append("<div class='msg_text'>" + d[i]['fields']['text'] + "</div>"
                                                + "<img class='msg_attach' src=" + '/media/' + d[i]["fields"]["attachments"] + " alt=''><hr>");
                                        }
                                        else{
                                            $('.message-container').append("<div class='msg_text'>" + d[i]['fields']['text'] + "</div><hr>");
                                        }
                                        i = i+1
                                    }
                                }
                            });
                    }
                    </script>
                {% endfor %}
            {% else %}
            {% endif %}
        </div>
    </div>
    <div class="container text-center justify-content-center mx-auto">
                <div class="message-container text-center">
                    {% if msg %}
                        {% for m in msg %}
                            <div>
                                <div class="msg_text">{{ m.text }}</div>
                                {% if m.attachments %}
                                    <img class="msg_attach" src="{{ m.attachments.url }}" alt="">
                                {% else %}

                                {% endif %}
                            </div><hr>
                        {% endfor %}
                    {% else %}
                    {% endif %}
                </div>
            </div>
    <style>
        .msg_text{
            font-size: 1em;
            font-family: Roboto;
            font-weight: 700;
        }
        .contact_id{
            text-align: left;
            font-size: 1em;
            font-family: Roboto;
            font-weight: 700;
        }
        .msg_attach{
            width: 20%;
            border: 2px;
            border-radius: 5px;
        }
    </style>
    {#                            <script>#}
    {#{#                                $('.send_btn').on('click', function () {#}
    {#{#                                    let tx = $('.itext').val();#}
    {#{#                                    let fl = $('.ifile').val();#}
    {#{##}
    {#{#                                    $.ajax({#}
    {#{#                                        url: "{% url 'inbox_view' %}",#}
    {#{#                                        type: 'POST',#}
    {#{#                                        enctype: 'multipart/form-data',#}
    {#{#                                        data: {#}
    {#{#                                            itext: tx,#}
    {#{#                                            ifile: fl,#}
    {#{#                                            i_id: '{{ u.inbox_id }}',#}
    {#{#                                            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()#}
    {#{#                                        },#}
    {#{#                                        success: function (data) {#}
    {#{#                                            $('.itext').empty();#}
    {#{#                                            $('.ifile').empty();#}
    {#{#                                            $('.message-container').append("<div><a>" + tx + "</a>"#}
    {#{#                                            + "<img src=" + data[1] + "></div>"+"<hr>");#}
    {#{#                                        }#}
    {#{#                                    });#}
    {#{#                                });#}
    {#{#                            </script>#}
{% endblock %}



