{% extends 'work_for_hire/seller/base.html' %}
{% block navbar %}
    {% load static %}
<style>
a:hover{
    color: white;
    text-decoration: none !important;
}
.overlay{
    display: none;
    margin-top: -10%;
    margin-left: -10%;
    position: absolute;
    opacity: 0.7;
    width: 110%;
    height: 100%;
    z-index: 1999;
    color: #fff;
    background: linear-gradient(#00ff95,#69ffaa,#fff);
}
.form-control-file::-webkit-file-upload-button{
            visibility: hidden;
}
.form-control-file{
    width: 14rem;
    text-align: center;
    display: inline-block;
    border: 1px solid #000;
    border-radius: 40px;
    padding: 5px 5px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 1em;
}

a{
    text-decoration: none !important;
    color: black !important;
    font-weight: 700 !important;
    font-size: 1em !important;
}
a:hover{
    color: #00ff95 !important;
}
</style>
    <div class="container text-center inbox" >
        <div class="jumbotron">
            {% if u_id %}
                {% for u in u_id %}
                    <div class="form inbox-message">
                        <a><div class="user_id">{{ u.people_id }}</div></a>
                {% endfor %}
                {% if message %}
                    {% for m in message %}
                        <div class="inbox_id" style="display: none">{{ m.i_id }}</div>
                    </div>
                    {% endfor %}
                {% endif %}
            {% else %}
                <div class="jumbotron"><h1>No Chats Are Their</h1></div>
            {% endif %}
        </div>
            <div class="message-container"></div>
                <div class="form-group">
                    <label>
                        <input type="text"  class="itext form-control"/>
                    </label><br>
                    <input type="file" class="form-control ifile form-control-file"/><br><br>
                    <button class="btn btn-outline-success send_btn">Send</button>
                </div>
    </div>
    <script>
    $('.context_btn').hide();

    </script>
    <script>
    $('.send_btn').on('click', function () {
        $.ajax({
                url: "{% url 'inbox_view' %}",
                type: 'POST',
                data: {
                    text: $('.itext').val(),
                    attach: $('.ifile').val(),
                    i_id: $('.inbox_id').val()
                },
                success: function (data) {
                    $('.message-container').append('<div>' + $('.itext').val(), + '</div>',
                    '<div><img src=' + $('.ifile').val(), + '></div>');
                    {#let d = JSON.parse(data);#}
                    {#console.log(d);#}
                    {#let i = 0;#}
                    {#while(i < d.length){#}
                    {#    $('.inbox_id').append('<div>' + d[i]["pk"] + '</div>');#}
                    {#    $('.user_id').append('<div>' + d[i]["fields"]["people_id"] + '</div>');#}
                    {#    i = i + 1;}#}
                }
            });
    });
    </script>
{% endblock %}



