{% extends 'work_for_hire/seller/base.html' %}
    {% load static %}
{% block navbar %}
<style>
.picture_uploader::-webkit-file-upload-button{
            visibility: hidden;
        }
        .picture_uploader{
            content: 'Select Your Profile Picture';
            text-align: center;
            width: 18rem;
            display: inline-block;
            background: #fff;
            border-radius: 40px;
            padding: 5px 5px;
            outline: none;
            white-space: nowrap;
            -webkit-user-select: none;
            cursor: pointer;
            text-shadow: 1px 1px #fff;
            font-weight: 700;
            font-size: 1em;
        }

a{
    cursor: pointer;
    text-decoration: none !important;
    color: black !important;
    font-weight: 700 !important;
    font-size: 1em !important;
}

</style>
    <br><br>
    <div class="container">
        <div class="row">{% if people_id or user_id %}
            <div class="people_box mx-auto col-md-3" style="height: 25rem; overflow-x: visible; background: white; padding: 30px; border-radius: 10px;">
                <div class="container text-center mx-auto justify-content-center" style="">
                        {% for us in people_id %}
                            <a onclick="fetchmymsg('{{ us.inbox_id }}');" style="font-size: 1em" class="people_id">{{ us.user_id }}</a><br><hr>
                        {% endfor %}
                        {% for us in user_id %}
                            <a onclick="fetchmymsg('{{ us.inbox_id }}');" style="font-size: 1em" class="people_id">{{ us.people_id }}</a><br><hr>
                        {% endfor %}
                    {% elif user_id %}
                        {% for us in user_id %}
                            <a onclick="fetchmymsg('{{ us.inbox_id }}');" style="font-size: 1em" class="people_id">{{ us.people_id }}</a><br><hr>
                        {% endfor %}
                    {% else %}
                        {% for us in people_id %}
                            <a onclick="fetchmymsg('{{ us.inbox_id }}');" style="font-size: 1em" class="people_id">{{ us.user_id }}</a><br><hr>
                        {% endfor %}
                    {% endif %}
                </div>
            </div><br><br>
            <div class="container text-center justify-content-center mx-auto message_con col-md-8" style="background: white; padding: 30px; border-radius: 10px;">
                <div class="container msg_con" style="display: none;">
                    <div class="message-container text-center"></div>
                </div>
                <div class="msg_form text-center mx-auto justify-content-center">
                    <h1 class="no_msg">No Messages Yet !!!</h1>


                    <form class="iform mx-auto" enctype="multipart/form-data" method="post">
                        {% csrf_token %}
                            <input type="text" name="i_text" class="form-control" id="msg_txt"/><br>
                            <input type="file" name="i_file" class="form-control form-control-file picture_uploader" id="msg_file"/><br><br>
                        <button id="send_msg" class="btn btn-outline-primary">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div><br><br>
    <button onClick="sendMsg();">Hit Me</button>

    <script src="{% static 'js/ws.js' %}"></script>
    <script>
        $(document).ready(function () {
           if($('.message-container').empty()){
              hide('.iform');
            }
        });
    </script>
    <style>
        .msg_text{
            font-size: 1em;
            font-family: Roboto;
            font-weight: 700;
        }
        .contact_id{
            text-align: left;
            font-size: 1em;
            font-family: Roboto;
            font-weight: 700;
        }
        .msg_attach{
            width: 200px;
            border: 2px;
            border-radius: 5px;
        }
    </style>
<script>

                    function fetchmymsg(inb){
                        show('.iform');
                        hide('.no_msg');
                        let msg = $('.msg_con');
                        msg.empty();
                            $.ajax({
                                url: "{% url 'message_view' %}",
                                type: "POST",
                                enctype: "multipart/form-data",
                                data:{
                                    inb: inb,
                                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                                },
                                success: function (data) {
                                    {#hide('.people_box');#}
                                    show('.msg_con');
                                    msg.append("<input style='display: none;' name='i_id' class='i_id' value="+ inb +"><div class='message-container'></div>");
                                    $('.iform').append("<input style='display: none;' name='i_id' value="+ inb +">");
                                    console.log(data);
                                    let d = JSON.parse(data);
                                    let i = 0;

                                    while(i < d.length){
                                        if((d[i]["fields"]["attachments"] !== 'False') && (d[i]["fields"]["attachments"] !== '')) {
                                            $('.message-container').append("<div class='contact_id'>" + d[i]['fields']['user'] + "</div><br><div class='msg_text'>" + d[i]['fields']['text'] + "</div><br>"
                                                + "<img class='msg_attach' src=" + '/media/' + d[i]["fields"]["attachments"] + " alt=''><hr>");
                                        }
                                        else{
                                            $('.message-container').append("<div class='contact_id'>" + d[i]['fields']['user'] + "</div><br><div class='msg_text'>" + d[i]['fields']['text'] + "</div><hr>");
                                        }
                                        i = i+1
                                    }

                                }
                            });
                    }
                    $('.iform').on('submit', function (e) {
                        e.preventDefault();
                        let d = new FormData(this);
                        $.ajax({
                            url: "{% url 'inbox_view' %}",
                            type: 'POST',
                            contentType: false,
                            processData: false,
                            data: d,
                            success: function (data) {
                                $('#msg_txt').val('');
                                $('#msg_file').val('');
                                console.log(data['file']);
                                if ((data['file'] !== false) && (data["file"] !== '')) {
                                    $('.message-container').append("<div class='contact_id'>" + data['messanger'] + "</div><br><div class='msg_text'>" + data['text'] + "</div><br><img class='msg_attach' src=" + '/media/' + data['file'] +" alt=''><hr>");
                                }
                                else{
                                    $('.message-container').append("<div class='contact_id'>" + data['messanger'] + "</div><div class='msg_text'>" + data['text'] + "</div><hr>");
                                }
                            }
                        });
                    });
                    </script>
{% endblock %}



