{% extends 'work_for_hire/seller/base.html' %}
{% load tz %}
{% get_current_timezone as TZ %}
{% block navbar %}
    <div class="rst_container">
        {% if p_details %}
            {% if rst %}
                {% for p in p_details %}
                    {% for r in rst %}
                        {% if p.category == r.category %}
                            {% if user.username == r.user %}

                            {% else %}
                                <div class="container text-center">
                                    <ol>
                                        <li>
                                            {% localtime on %}
                                            User:- <b>{{ r.user|upper }}</b>&nbsp;&nbsp;&nbsp;&nbsp;Request:- {{ r.rst }}{{ r.created_by|localtime }}
                                            {% endlocaltime %}
                                        </li>
                                    </ol>
                                </div>
                            {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endif %}
        {% endif %}
    </div>
    <script>
    $('.context_btn').hide();
        {#$.ajax({#}
        {#   url:"{% url 'buyer_rst_show' %}",#}
        {#   success: function (data) {#}
        {#       let rst = JSON.parse(data);#}
        {#       console.log(rst);#}
        {#       let i = 0;#}
        {#       while(i<rst.length){#}
        {#           $('.rst_container').append('<i>' + rst[i]["fields"]["user"] + '<br>' + rst[i]["fields"]["rst"] + '</i><br>')#}
        {#       }#}
        {#   }});#}
    </script>

{% endblock %}
