{% extends 'work_for_hire/seller/base.html' %}
{% block navbar %}
    {% load tz %}
    <div class="col-md-12 text-right mx-auto post_rst_con" style="color: black; position: absolute; display: none; z-index: 5;">
        <form class="col-md-4 mx-auto text-center" method="post" enctype="multipart/form-data" action="{% url 'buyer_rst_create' %}" style="background-image: linear-gradient(#00ff95,#69ffaa,#fff); border-radius: 20px; padding: 30px;">{% csrf_token %}
            <div class="text-right mr-auto"><i onclick="sec_hide('.post_rst_con');" class="fas fa-times cls_inbox"></i></div>
            <div class="form-group">
                <label for="slt_category">Select Category</label>
                <select name="category" class="cat_field form-control" id="slt_category">
                      <option>Video Editing</option>
                      <option>Web Design</option>
                      <option>Graphic Designing</option>
                      <option>SEO</option>
                      <option>Writing</option>
                      <option>Etc.....</option>
                </select>
            </div>
            <div class="form-group">
                <label for="rst_field">About Your Request :</label>
                <textarea rows="3" name="rst" class="form-control" id="rst_field"></textarea>
            </div>
            <div class="form-group">
                <label for="file_field">Attach Files Here</label>
                    <input id="file_field" name="rstfile" type="file" class="form-control form-control-file picture_uploader"/>
            </div>
            <button type="submit" id="post_rst" class="btn btn-outline-primary">Submit</button>
        </form>
    </div>
        <div class="container text-center" style="background: white; padding: 40px; border-radius: 10px">
            <div class="text-center"><button id="post_form_open" class="btn btn-outline-primary">Post A Request</button></div><br><br>
            {% if b %}
                <h1>Your Posted Request</h1><br><br>
                {% for r in b %}
                    <a>{{ r.rst }}</a>&nbsp;<br>
                    {% if tm %}
                        <div class="text-center">{{ r.created_by|timezone:tm }}</div>
                    {% else %}
                        <div class="text-center">{{ r.created_by }}</div>
                    {% endif %}<br><br>
                {% endfor %}
            {% endif %}
        </div><br>
    <script>
    $('#post_form_open').click(function () {
            hide('.overlay');
            inout('.post_rst_con');
            outin('.post_rst_con');
            show('.overlay');
    });
    </script>

{% endblock %}
